.base_window_dash{
    background-color: black;
    color:rgb(255, 236, 236)
}

.dash_status_unknown{
    background-color: grey;
    color: black;
}
@import url("dashboard_style.css");
.monitored_node_name{
    background-color: whitesmoke;
    color: black;
    padding: 8px;
    
}

.dash_title{
    font-size: 30;
}

.base_window {
    background-color: rgb(20, 20, 20);
    color: burlywood;
}

.home_all_button {
    background-image: none;
    background-color: rgb(255, 199, 110);
    color: rgb(0, 0, 0);
}

.arm_abort_button {
    background-image: none;
    background-color: rgb(179, 0, 0);
    color: rgb(255, 236, 236);
    font-size: 30;
}

.test_limits_button {
    background-image: none;
    background-color: rgb(110, 151, 255);
    color: rgb(0, 0, 0);
}
.temp_grid {
    color: ghostwhite;
}

