/*Default Button Styles*/
.button {
    background-color: #a0a0a0;
    color: white;
}

/* GENERAL BUTTON STATES */
button.energized {
    background-image: none;
    background-color: green;
    color: white;
    box-shadow: none;
    border: none;
}

button.not_energized {
    background-image: none;
    background-color: red;
    color: white;
    box-shadow: none;
    border: none;
}


button.active {
    background-image: none;
    background-color: green;
    color: white;
    box-shadow: none;
    border: none;
}

button.not_active{
    background-image: none;
    background-color: rgb(80, 83, 115);
    color: white;
    box-shadow: none;
    border: none;
}

button.on {
    background-image: none;
    background-color: green;
    color: white;
    box-shadow: none;
    border: none;
}

button.off {
    background-image: none;
    background-color: red;
    color: white;
    box-shadow: none;
    border: none;
}

button.unblocked {
    background-image: none;
    background-color: green;
    color: white;
    box-shadow: none;
    border: none;
}

button.blocked {
    background-image: none;
    background-color: red;
    color: white;
    box-shadow: none;
    border: none;
}

button.forward {
    background-image: none;
    background-color: green;
    color: white;
    box-shadow: none;
    border: none;
}

button.reverse {
    background-image: none;
    background-color: rgb(232, 174, 59);
    color: white;
    box-shadow: none;
    border: none;
}

button.analyzing {
    background-image: none;
    background-color: cyan;
    color: white;
    box-shadow: none;
    border: none;
}

button.notanalyzing {
    background-image: none;
    background-color: gray;
    color: white;
    box-shadow: none;
    border: none;
}


.label-blocked {
    background-color: #c62828;  /* Red */
    color: white;
    padding: 4px 10px;
    border-radius: 5px;
}

.label-unblocked {
    background-color: #2e7d32;  /* Green */
    color: white;
    padding: 4px 10px;
    border-radius: 5px;
}

.label-reverse {
    color: yellow;
    font-weight: bold;
}

.label-stop {
    color: gray;
    font-style: italic;
}

.label-forward {
    color: green;
    font-weight: bold;
}







/* Sequence Buttons (Only one can be active) */
/*
.sequence-button {
    background-color: gray;
    color: white;
}

.sequence-button.active {
    background-color: green;
}


.sv1button {
    background-color: gray;
    color: white;
}

.sv1button.energized {
    background-color: green;
}

.sv1button.not_energized {
    background-color: red;
}

.sv2button {
    background-color: gray;
    color: white;
}

.sv2button.energized {
    background-color: green;
}

.sv2button.not_energized {
    background-color: red;
}


.sv3button {
    background-color: gray;
    color: white;
}

.sv3button.energized {
    background-color: green;
}

.sv3button.not_energized {
    background-color: red;
}


.sv4button {
    background-color: gray;
    color: white;
}

.sv4button.energized {
    background-color: green;
}

.sv4button.not_energized {
    background-color: red;
}


.svf1button {
    background-color: gray;
    color: white;
}

.svf1button.energized {
    background-color: green;
}

.svf1button.not_energized {
    background-color: red;
}


.svf2button {
    background-color: gray;
    color: white;
}

.svf2button.energized {
    background-color: green;
}

.svf2button.not_energized {
    background-color: red;
}


.p1button {
    background-color: gray;
    color: white;
}

.p1button.forward {
    background-color: green;
}

.p1button.backward {
    background-color: rgb(204, 227, 28);
}



.osf1button {
    background-color: gray;
    color: white;
}

.osf1button.unblocked {
    background-color: green;
}

.osf1button.blocked {
    background-color: red;
}


.osf2button {
    background-color: gray;
    color: white;
}

.osf2button.unblocked {
    background-color: green;
}

.osf2button.blocked {
    background-color: red;
}


.prevIndexbutton{
    background-color: gray;
    color: white;
}

.prevIndexbutton.on {
    background-color: green;
}

.prevIndexbutton.off {
    background-color: red;
}


.nextidxbutton{
    background-color: gray;
    color: white;
}

.nextidxbutton.on {
    background-color: green;
}

.nextidxbutton.off {
    background-color: red;
}


.largebutton{
    background-color: gray;
    color: white;
}

.largebutton.on {
    background-color: green;
}

.largebutton.off {
    background-color: red;
}


.smallbutton{
    background-color: gray;
    color: white;
}

.smallbutton.on {
    background-color: green;
}

.smallbutton.off {
    background-color: red;
}



.spectrobutton {
    background-color: gray;
    color: white;
}

.spectrobutton.analyzing {
    background-color: green;
}

.spectrobutton.notanalyzing {
    background-color: red;
}


.agitatorpowerbutton {
    background-color: gray;
    color: white;
}

.agitatorpowerbutton.on {
    background-color: green;
}

.agitatorpowerbutton.off {
    background-color: red;
}


.light1button {
    background-color: gray;
    color: white;
}

.light1button.on {
    background-color: green;
}

.light1button.off {
    background-color: red;
}


.light2button {
    background-color: gray;
    color: white;
}

.light2button.on {
    background-color: green;
}

.light12utton.off {
    background-color: red;
}


*/



