ukf_global:
  ros__parameters:
    frequency: 30.0
    sensor_timeout: 0.2
    two_d_mode: true

    map_frame: map
    odom_frame: odom
    base_link_frame: base_link
    world_frame: map

    publish_tf: true

    odom0: /odometry/gps
    odom0_config: [
      true,  true,  false,
      false, false, false,
      false, false, false,
      false, false, false,
      false, false, false
    ]

    imu0: /imu/data