[submodule "src/external_pkgs/dear_im_gui"]
	path = src/external_pkgs/dear_im_gui
	url = https://github.com/ocornut/imgui.git
[submodule "src/external_pkgs/serial"]
	path = src/external_pkgs/serial
	url = https://github.com/wjwwood/serial.git
