<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Chassis_LiDAR.SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.323229813769833 0.000141183589907848 0.120313130621598"
        rpy="0 0 0" />
      <mass
        value="2.88138673191465" />
      <inertia
        ixx="0.0724633578123081"
        ixy="2.4117935594847E-08"
        ixz="-3.29816621665502E-05"
        iyy="0.0548014420226571"
        iyz="8.0293496587126E-10"
        izz="0.0898029030844551" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Chassis_LiDAR.SLDASM/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Chassis_LiDAR.SLDASM/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Right Rocker">
    <inertial>
      <origin
        xyz="-0.0470976490281694 -0.0448158737746225 -0.118054988916964"
        rpy="0 0 0" />
      <mass
        value="0.974964014824881" />
      <inertia
        ixx="0.00284906323511148"
        ixy="-0.00444784140235752"
        ixz="1.33471689810363E-09"
        iyy="0.0172676366004055"
        iyz="9.60008892408592E-10"
        izz="0.0195862693676572" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Chassis_LiDAR.SLDASM/meshes/Right Rocker.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Chassis_LiDAR.SLDASM/meshes/Right Rocker.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Rocker Shaft"
    type="revolute">
    <origin
      xyz="-0.249999999999999 -0.231912500000005 0.103175000000004"
      rpy="1.5707963267949 0 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="Right Rocker" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Right Bogie">
    <inertial>
      <origin
        xyz="0.203635407466599 0.2145400678577 -0.0518013750263509"
        rpy="0 0 0" />
      <mass
        value="0.69234892612608" />
      <inertia
        ixx="0.00439017289042799"
        ixy="-0.000948428018236932"
        ixz="-1.88916824406535E-09"
        iyy="0.000659039174918484"
        iyz="2.49581956768709E-09"
        izz="0.00478764386960297" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Chassis_LiDAR.SLDASM/meshes/Right Bogie.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Chassis_LiDAR.SLDASM/meshes/Right Bogie.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Bogie Shaft"
    type="revolute">
    <origin
      xyz="0 0 -0.0710724999999995"
      rpy="0 0 -1.3340072638942" />
    <parent
      link="Right Rocker" />
    <child
      link="Right Bogie" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Left Rocker">
    <inertial>
      <origin
        xyz="-0.0451247596141575 -0.0452705197660333 0.118270519873372"
        rpy="0 0 0" />
      <mass
        value="1.00770361002077" />
      <inertia
        ixx="0.00285721776922938"
        ixy="-0.00444783818477076"
        ixz="6.76417855514565E-10"
        iyy="0.0172757873818173"
        iyz="-1.47558983143685E-09"
        izz="0.0195865649048137" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Chassis_LiDAR.SLDASM/meshes/Left Rocker.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Chassis_LiDAR.SLDASM/meshes/Left Rocker.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Left Rocker Shaft"
    type="revolute">
    <origin
      xyz="-0.249999999999993 0.2319125 0.103175"
      rpy="1.5707963267949 0 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="Left Rocker" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Left Bogie">
    <inertial>
      <origin
        xyz="0.272914275860278 0.114071810196028 0.0518013764409567"
        rpy="0 0 0" />
      <mass
        value="0.692348926149588" />
      <inertia
        ixx="0.0030814865883096"
        ixy="-0.00201735952503282"
        ixz="3.12804196913544E-09"
        iyy="0.00196772547706536"
        iyz="1.15710661689454E-10"
        izz="0.00478764386963138" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Chassis_LiDAR.SLDASM/meshes/Left Bogie.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Chassis_LiDAR.SLDASM/meshes/Left Bogie.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Left Bogie Shaft"
    type="revolute">
    <origin
      xyz="0 0 0.0710724999999997"
      rpy="0 0 -0.918445891779081" />
    <parent
      link="Left Rocker" />
    <child
      link="Left Bogie" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Differential">
    <inertial>
      <origin
        xyz="0.0710384527714692 0.000112700908656449 -2.3610871489485E-05"
        rpy="0 0 0" />
      <mass
        value="0.554107403626057" />
      <inertia
        ixx="0.0238053446113705"
        ixy="-1.15816973049344E-10"
        ixz="-5.06498670032286E-12"
        iyy="0.0225057222235537"
        iyz="-0.00515290954253886"
        izz="0.00131171927062141" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Chassis_LiDAR.SLDASM/meshes/Differential.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Chassis_LiDAR.SLDASM/meshes/Differential.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Differential Shaft"
    type="fixed">
    <origin
      xyz="-0.535735000346326 0 0.172959349967733"
      rpy="1.34449872437947 -1.5707963267949 0" />
    <parent
      link="base_link" />
    <child
      link="Differential" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Right Link">
    <inertial>
      <origin
        xyz="-0.000471291073627783 0.0112321500184396 0.142506113978008"
        rpy="0 0 0" />
      <mass
        value="0.05398550944847" />
      <inertia
        ixx="0.000246620491894376"
        ixy="2.33568929226547E-09"
        ixz="-2.91259563380216E-06"
        iyy="0.000246654922094324"
        iyz="1.93850794929742E-07"
        izz="7.40166661712097E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Chassis_LiDAR.SLDASM/meshes/Right Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.956862745098039 0.956862745098039 0.956862745098039 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Chassis_LiDAR.SLDASM/meshes/Right Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Ball Joint"
    type="fixed">
    <origin
      xyz="0.0560233773404954 0.0853557886785634 0.373801741885768"
      rpy="-1.3176295022306 -0.921537097065375 2.93275549574364" />
    <parent
      link="Differential" />
    <child
      link="Right Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Left Link">
    <inertial>
      <origin
        xyz="0.00299799683585367 0.0150427510893051 0.142506106117699"
        rpy="0 0 0" />
      <mass
        value="0.0539855050480288" />
      <inertia
        ixx="0.000246654065741038"
        ixy="5.412008474393E-09"
        ixz="-4.65158454975012E-07"
        iyy="0.000246621269416747"
        iyz="2.88146121733807E-06"
        izz="7.40160009972091E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Chassis_LiDAR.SLDASM/meshes/Left Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.956862745098039 0.956862745098039 0.956862745098039 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Chassis_LiDAR.SLDASM/meshes/Left Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Left Ball Joint"
    type="fixed">
    <origin
      xyz="0.0350110824114719 -0.0872504888517618 -0.375654244677153"
      rpy="1.17820685088737 0.685887280433608 -0.262288923601871" />
    <parent
      link="Differential" />
    <child
      link="Left Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="leftGPS">
    <inertial>
      <origin
        xyz="0.00950000000000195 -0.0125 0.00949999999999895"
        rpy="0 0 0" />
      <mass
        value="0.00902500000000001" />
      <inertia
        ixx="7.41554166666662E-07"
        ixy="1.2981977056571E-23"
        ixz="1.76465197344646E-22"
        iyy="5.43004166666662E-07"
        iyz="-3.65912371745863E-22"
        izz="7.41554166666668E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Chassis_LiDAR.SLDASM/meshes/leftGPS.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Chassis_LiDAR.SLDASM/meshes/leftGPS.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="gpsLeft"
    type="fixed">
    <origin
      xyz="-0.259500000000003 0.273263899999999 0.209999999999999"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="leftGPS" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="rightGPS">
    <inertial>
      <origin
        xyz="0.00950000000000001 0.0125 0.00950000000000004"
        rpy="0 0 0" />
      <mass
        value="0.00902500000000002" />
      <inertia
        ixx="7.41554166666676E-07"
        ixy="-2.83730506341327E-23"
        ixz="-2.061810166457E-22"
        iyy="5.43004166666677E-07"
        iyz="-1.52473566064512E-22"
        izz="7.41554166666669E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Chassis_LiDAR.SLDASM/meshes/rightGPS.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Chassis_LiDAR.SLDASM/meshes/rightGPS.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="gpsRight"
    type="fixed">
    <origin
      xyz="-0.259500000000003 -0.273263900000005 0.209999999999999"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="rightGPS" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="IMU">
    <inertial>
      <origin
        xyz="0.00950000000000004 0.0125 0.00950000000000004"
        rpy="0 0 0" />
      <mass
        value="0.00902500000000001" />
      <inertia
        ixx="7.41554166666668E-07"
        ixy="8.38209687387069E-23"
        ixz="-8.05441709605198E-22"
        iyy="5.43004166666636E-07"
        iyz="3.35283874954827E-23"
        izz="7.41554166666636E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Chassis_LiDAR.SLDASM/meshes/IMU.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Chassis_LiDAR.SLDASM/meshes/IMU.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="IMU1"
    type="fixed">
    <origin
      xyz="-0.2575 -0.0125 0.20674"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="IMU" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="lidar">
    <inertial>
      <origin
        xyz="-0.0261061014235503 -4.55680518327666E-08 0.0285945311604336"
        rpy="0 0 0" />
      <mass
        value="0.215990422113963" />
      <inertia
        ixx="0.000114309470498173"
        ixy="3.04723500669431E-10"
        ixz="6.62518701274248E-07"
        iyy="0.000117411512226373"
        iyz="3.16376323048442E-11"
        izz="0.000124138179433063" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Chassis_LiDAR.SLDASM/meshes/LiDAR.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Chassis_LiDAR.SLDASM/meshes/LiDAR.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LiDAR joint"
    type="fixed">
    <origin
      xyz="0.0625 0 0.21476"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="LiDAR" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="PTZ">
    <inertial>
      <origin
        xyz="-0.00928620373163125 0.00150178339648377 -0.182772691673925"
        rpy="0 0 0" />
      <mass
        value="0.381186493803212" />
      <inertia
        ixx="0.0107542084275541"
        ixy="2.60656581835099E-06"
        ixz="-1.38823856983843E-06"
        iyy="0.0106927428807489"
        iyz="-1.71971531949832E-07"
        izz="0.000187498370638357" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Chassis_LiDAR.SLDASM/meshes/PTZ.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Chassis_LiDAR.SLDASM/meshes/PTZ.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="PTZ Cam"
    type="fixed">
    <origin
      xyz="-0.60299 0.22239 0.951"
      rpy="0 0 0.2412" />
    <parent
      link="base_link" />
    <child
      link="PTZ" />
    <axis
      xyz="0 0 1" />
  </joint>
</robot>