# On board the rover config for what processes the heart should send blood to
# (what processes the on board heart needs to startup and kill)

# Subsystems are what the system refers to, and what will show up on the HMI
# Subsystem commands are ros2 launch commands. Each subsytem needs a command/launch file.
# Make sure subsystems and their commands are in respective order
/heart_onboard_nuc:
  ros__parameters:
    subsystems:
      drive_interface: "ros2 launch drive_control drive_control_onboard_bringup.launch.py"
      arm_interface: "ros2 launch arm_hardware_interface arm_hardware_bringup.launch.py"
      
    # subsystems:
    #   - drive_interface
    #   - arm_interface
    # subsystem_commands: 
    #   - "ros2 launch drive_control drive_control_onboard_bringup"
    #   - "ros2 launch arm_hardware_interface "