
# On board the rover config for what processes the heart should send blood to
# (what processes the on board heart needs to startup and kill)

# Subsystems are what the system refers to, and what will show up on the HMI
# Subsystem commands are ros2 launch commands. Each subsytem needs a command/launch file.
# Make sure subsystems and their commands are in respective order
 
# heart_topic: &heart_topic /heart #! Anchors don't seem to work in off-the-shelf ros2

#! CURRENTLY USING SAME TOPIC FOR ALL HEARTS
#! DO NOT REUSE SUBSYSTEM NAMES UNLESS YOU NEED THE SAME SUBSYSTEM RUN ON MULTIPLE MACHINES

#? You do not have to rebuild when making changes to this file - these params are checked when the nodes are launched. However if in doubt, clean and rebuild

/dashboard_hmi_node:
  ros__parameters:
    watchdog_timeout_ms: 2000 
    computer_control_base: "control_base" # must match with node name /heart_xxxx_xxxx (control_base -> /heart_control_base)
    computer_onboard_nuc: "onboard_nuc"
    computer_onboard_jetson: "onboard_jetson"
    heart_request_topic: "/heart/request"
    heart_feedback_topic: "/heart/running_subsystems"
    subsystems_control_base:
      - "drive_control"
      - "banana"
      - "apple"
    subsystems_onboard_nuc:
      - "drive_interface"
      - "arm_interface"
      - "cucumber"
      - "meow"
    subsystems_onboard_jetson: # Not implemented in the dashboard gui yet
      - "yolo_detection"
      - "aruco_detection"
    camera_selection_topic: # topic name that takes an integer as the camera index
      - "campipe1/select"
      - "campipe2/select"
    camera_input_topics: # all camera feeds on board rover 
      - "cam1/compressed" # idk actual topic names
      - "cam2/compressed"
      - "armcam"
    camera_output_topics: # cameras we want to see
      - "campipe/output1" # idk actual topic names
      - "campipe/output2" 


/heart_control_base: # (/heart_control_base <- control_base)
  ros__parameters:
    subsystems:
      # drive_control: "ros2 launch drive_control drive_control_base_bringup.launch.py"
      drive_control: "ros2 run joy joy_node"
      banana: "notify-send hello"
      apple: "notify-send apple"
    request_topic: "/heart/request"
    heart_feedback_topic: "/heart/running_subsystems"
    heartbeat_rate: 1.0 #how often the heart beats, every beat sends a feedback msg with what subsystems are online or offline

    # request_topic: "/heart_control_base/request"
      
/heart_onboard_nuc:
  ros__parameters:
    subsystems:
      drive_interface: "ros2 launch drive_control drive_control_launch.launch.py"
      # drive_control: "ros2 launch drive_control drive_the_rover.launch.py"
      arm_interface: "ros2 launch arm_hardware_interface arm_hardware_bringup.launch.py"
      cucumber: "ros2 run demo_nodes_cpp talker"
      meow: "ros2 run demo_nodes_cpp listener"
    request_topic: "/heart/request"
    heart_feedback_topic: "/heart/running_subsystems"
    heartbeat_rate: 1.0 #how often the heart beats, every beat sends a feedback msg with what subsystems are online or offline

    # request_topic: "/heart_onboard_nuc/request"
    # subsystems:
    #   - drive_interface
    #   - arm_interface
    # subsystem_commands: 
    #   - "ros2 launch drive_control drive_control_onboard_bringup"
    #   - "ros2 launch arm_hardware_interface "

