<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dev_arm">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import dev_arm urdf file -->
    <xacro:include filename="$(find dev_arm_description)/urdf/dev_arm.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="dev_arm.ros2_control.xacro" />


    <xacro:dev_arm_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
