<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="dev_arm_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="shoulder_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['shoulder_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="link_1_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['link_1_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="link1_link2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['link1_link2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="a4_rotation">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['a4_rotation']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="a5_rotation">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['a5_rotation']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="a6_rotation">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['a6_rotation']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="finger_left_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['finger_left_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="finger_right_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['finger_right_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
