<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arm2">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import arm1 urdf file -->
    <xacro:include filename="$(find arm1)/urdf/arm1.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="arm2.ros2_control.xacro" />


    <xacro:arm2_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
