name: Run setup for Docker

on: 
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened]

jobs:
  build-test-push:
    name: Build, Test and Push Docker Image
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Build image
        uses: docker/build-push-action@v5
        with:
          context: .
          load: true
          tags: myapp:test

      - name: Notify Discord (success)
        if: ${{ success() }}
        uses: appleboy/discord-action@v1.0.0
        with:
          webhook_id: ${{ secrets.DISCORD_BOT_WEBHOOK_ID }}
          webhook_token: ${{ secrets.DISCORD_BOT_WEBHOOK_TOKEN }}
          message: |
            Yipee!!! I'lll let you merge now ${{ github.actor }}. _good j*b_! ||
            ${{ github.repository }} on `${{ github.ref_name }}`
            ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}

      - name: Notify Discord (failure)
        if: ${{ failure() }}
        uses: appleboy/discord-action@v1.0.0
        with:
          webhook_id: ${{ secrets.DISCORD_BOT_WEBHOOK_ID }}
          webhook_token: ${{ secrets.DISCORD_BOT_WEBHOOK_TOKEN }}
          message: |
            poo you ${{ github.actor }}! Run it through chat rq to fix your bugs ||
            ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
