name: test_workflow
on: push
jobs:
  demo:
    runs-on: ubuntu-22.04
    steps:
     - uses: actions/checkout@v4
     - run: |
         export ROVERFLAKE_ROOT="${GITHUB_WORKSPACE}"
         yes | ./setup_scripts/setup_everything_common.sh
