name: Run unit tests
on: push
jobs:
  unit_tests:
    runs-on: ubuntu-22.04
    steps:
     - uses: actions/checkout@v4
       with: # added this, might fix a bug that's taken over 3 hours to find
          submodules: recursive
     - name: build
       run: |
         make test  
     - name: Notify Discord (success)
       if: ${{ success() }}
       uses: appleboy/discord-action@v1.0.0
       with:
        webhook_id: ${{ secrets.DISCORD_BOT_WEBHOOK_ID }} # it also accepts full URL
        webhook_token: ${{ secrets.DISCORD_BOT_WEBHOOK_TOKEN }} # it also accepts full URL
        message: |
              *Unit tests has passed for ${{ github.actor }}.* || ${{ github.repository }} on `${{ github.ref_name }}`
              ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
     - name: Notify Discord (failure)
       if: ${{ failure() }}
       uses: appleboy/discord-action@v1.0.0
       with:
        webhook_id: ${{ secrets.DISCORD_BOT_WEBHOOK_ID }} # it also accepts full URL
        webhook_token: ${{ secrets.DISCORD_BOT_WEBHOOK_TOKEN }} # it also accepts full URL
        message: |
              _Unit tests have failed ${{ github.actor }}_
              ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
  
